<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LazyVMAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <LazyVMAdmin.Properties.Settings>
        <setting name="CommandShellFileName" serializeAs="String">
          <value>cmd.exe</value>
        </setting>
        <setting name="CommandShellArgs" serializeAs="String">
          <value />
        </setting>
        <setting name="vSphereClientFileName" serializeAs="String">
          <value>C:\Program Files (x86)\VMware\Infrastructure\Virtual Infrastructure Client\Launcher\VpxClient.exe</value>
        </setting>
        <setting name="vSphereClientArgs" serializeAs="String">
          <value />
        </setting>
        <setting name="powerCLIFileName" serializeAs="String">
          <value>C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe</value>
        </setting>
        <setting name="powerCLIArgs" serializeAs="String">
          <value>-psc "C:\Program Files (x86)\VMware\Infrastructure\vSphere PowerCLI\vim.psc1" -noe -c ". \"C:\Program Files (x86)\VMware\Infrastructure\vSphere PowerCLI\Scripts\Initialize-PowerCLIEnvironment.ps1\""</value>
        </setting>
        <setting name="DefaultUsername" serializeAs="String">
          <value>username</value>
        </setting>
        <setting name="DefaultDomain" serializeAs="String">
          <value>domainname</value>
        </setting>
      </LazyVMAdmin.Properties.Settings>
    </userSettings>
</configuration>